<head>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/items.js"></script>
</head>

<div id="head">
      <h1>UberGains</h1>
      <p><b>Healthy eating for maximum gains!</b></p>
      <img src="/images/logo2.png" alt="logo" id="logo" />
</div>
      <div id="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/meals">Meal Packages</a></li>
          <li><a href="/signup">Sign Up</a></li>
          <li style="float:right"><a href="/login">Log in</a></li>
        </ul>
      </div>

<h1>Thank You for signing up!</h1>