<!DOCTYPE html>
<html lang="en">
        <head>
        <link rel="stylesheet" href="../css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/style.css" />
        <script src="./js/items.js"></script>              
        </head>
        <body>
                {{{ body }}}
        </body>
</html>