<head>
    <script src="./js/items.js"></script>
</head>

<body>
            <div class="jumbotron text-center" style="margin-bottom:0" id="head">
                <h1>UberGains</h1>
                <p><b>Healthy eating for maximum gains!</b></p>
                <img src="/images/logo2.png" alt="logo" id="logo" />
            </div>
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <!--- Brand --->
                <a class="navbar-brand" href="/">Home</a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseableNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapseableNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/meals">Meals Package</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>
            </br></br>
            <h1>Here are the many food packages that we offer</h1></br></br>
    <div id="items">
    </div>
</body>